synapse-interac-fraud/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "synapse-interac-fraud"
		},
		"synapse-interac-fraud-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'synapse-interac-fraud-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:synapse-interac-fraud.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"ls_adls_interac_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://interacfabricstorage.dfs.core.windows.net/"
		},
		"ls_synapse_pool_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "synapse-interac-fraud.sql.azuresynapse.net"
		},
		"ls_synapse_pool_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "interac_sql_pool"
		},
		"ls_synapse_serverless_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "synapse-interac-fraud.sql.azuresynapse.net"
		},
		"ls_synapse_serverless_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "interac_sql_pool"
		},
		"synapse-interac-fraud-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://interacfabricstorage.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/PL_Interac_Bronze_to_Gold')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy_Bronze_to_Silver",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE silver.transactions",
								"writeBehavior": "Insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['transaction_id']"
										},
										"sink": {
											"name": "transaction_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['cardholder_id']"
										},
										"sink": {
											"name": "cardholder_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['merchant_id']"
										},
										"sink": {
											"name": "merchant_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['transaction_type']"
										},
										"sink": {
											"name": "transaction_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['payment_method']"
										},
										"sink": {
											"name": "payment_method",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['channel']"
										},
										"sink": {
											"name": "channel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['network']"
										},
										"sink": {
											"name": "network",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['amount_cad']"
										},
										"sink": {
											"name": "amount_cad",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "$['response_code']"
										},
										"sink": {
											"name": "response_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['ip_country']"
										},
										"sink": {
											"name": "ip_country",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['is_international']"
										},
										"sink": {
											"name": "is_international",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['processing_time_ms']"
										},
										"sink": {
											"name": "processing_time_ms",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['is_flagged_suspicious']"
										},
										"sink": {
											"name": "is_flagged_suspicious",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_bronze_transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_silver_transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load_Gold",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_Bronze_to_Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[gold].[usp_load_gold]"
						},
						"linkedServiceName": {
							"referenceName": "ls_synapse_pool",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-08T02:35:40Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/ds_bronze_transactions')]",
				"[concat(variables('workspaceId'), '/datasets/ds_silver_transactions')]",
				"[concat(variables('workspaceId'), '/linkedServices/ls_synapse_pool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_bronze_transactions')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_interac",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "real_time_transactions.json",
						"folderPath": "streaming/real_time_transactions",
						"fileSystem": "interac-raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"event_id": {
							"type": "string"
						},
						"event_type": {
							"type": "string"
						},
						"event_timestamp": {
							"type": "string"
						},
						"transaction_id": {
							"type": "string"
						},
						"cardholder_id": {
							"type": "string"
						},
						"merchant_id": {
							"type": "string"
						},
						"transaction_type": {
							"type": "string"
						},
						"payment_method": {
							"type": "string"
						},
						"channel": {
							"type": "string"
						},
						"network": {
							"type": "string"
						},
						"amount_cad": {
							"type": "number"
						},
						"currency": {
							"type": "string"
						},
						"response_code": {
							"type": "string"
						},
						"terminal_id": {
							"type": "string"
						},
						"device_fingerprint": {
							"type": "string"
						},
						"ip_address_hash": {
							"type": "string"
						},
						"ip_country": {
							"type": "string"
						},
						"is_international": {
							"type": "string"
						},
						"processing_time_ms": {
							"type": "integer"
						},
						"is_flagged_suspicious": {
							"type": "string"
						},
						"session_id": {
							"type": "string"
						},
						"partition_key": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_adls_interac')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ds_silver_transactions')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_synapse_pool",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "transaction_id",
						"type": "nvarchar"
					},
					{
						"name": "cardholder_id",
						"type": "nvarchar"
					},
					{
						"name": "merchant_id",
						"type": "nvarchar"
					},
					{
						"name": "amount_cad",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "channel",
						"type": "nvarchar"
					},
					{
						"name": "network",
						"type": "nvarchar"
					},
					{
						"name": "transaction_type",
						"type": "nvarchar"
					},
					{
						"name": "payment_method",
						"type": "nvarchar"
					},
					{
						"name": "response_code",
						"type": "nvarchar"
					},
					{
						"name": "is_approved",
						"type": "nvarchar"
					},
					{
						"name": "is_international",
						"type": "nvarchar"
					},
					{
						"name": "is_flagged_suspicious",
						"type": "nvarchar"
					},
					{
						"name": "processing_time_ms",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ip_country",
						"type": "nvarchar"
					},
					{
						"name": "transaction_datetime",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "transaction_date",
						"type": "date"
					},
					{
						"name": "amount_band",
						"type": "nvarchar"
					},
					{
						"name": "province",
						"type": "nvarchar"
					},
					{
						"name": "_ingested_at",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "_silver_loaded_at",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_synapse_pool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_adls_interac')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_interac_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_synapse_pool')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('ls_synapse_pool_properties_typeProperties_server')]",
					"database": "[parameters('ls_synapse_pool_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_synapse_serverless')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('ls_synapse_serverless_properties_typeProperties_server')]",
					"database": "[parameters('ls_synapse_serverless_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synapse-interac-fraud-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('synapse-interac-fraud-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synapse-interac-fraud-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('synapse-interac-fraud-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 1')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "-- Create Bronze database\nCREATE DATABASE interac_bronze;\n\nCREATE MASTER KEY ENCRYPTION BY PASSWORD = 'Interac@Synapse#2024!Secure';\n\nCREATE DATABASE SCOPED CREDENTIAL adls_mi_credential\nWITH IDENTITY = 'Managed Identity';\n\nCREATE EXTERNAL DATA SOURCE adls_interac_raw\nWITH (\n    LOCATION   = 'https://interacfabricstorage.dfs.core.windows.net/interac-raw',\n    CREDENTIAL = adls_mi_credential\n);\n\nSELECT name, credential_identity FROM sys.database_scoped_credentials;\nSELECT name, location FROM sys.external_data_sources;\n\n-- Bronze view for raw transactions\nUSE interac_bronze;\n\nCREATE OR ALTER VIEW bronze_raw_transactions AS\nSELECT\n    JSON_VALUE(doc, '$.transaction_id')        AS transaction_id,\n    JSON_VALUE(doc, '$.cardholder_id')         AS cardholder_id,\n    JSON_VALUE(doc, '$.merchant_id')           AS merchant_id,\n    CAST(JSON_VALUE(doc, '$.amount_cad') AS DECIMAL(18,2)) AS amount_cad,\n    JSON_VALUE(doc, '$.channel')               AS channel,\n    JSON_VALUE(doc, '$.network')               AS network,\n    JSON_VALUE(doc, '$.transaction_type')      AS transaction_type,\n    JSON_VALUE(doc, '$.payment_method')        AS payment_method,\n    JSON_VALUE(doc, '$.response_code')         AS response_code,\n    JSON_VALUE(doc, '$.is_approved')           AS is_approved,\n    JSON_VALUE(doc, '$.is_international')      AS is_international,\n    JSON_VALUE(doc, '$.is_flagged_suspicious') AS is_flagged_suspicious,\n    CAST(JSON_VALUE(doc, '$.processing_time_ms') AS BIGINT) AS processing_time_ms,\n    JSON_VALUE(doc, '$.ip_country')            AS ip_country,\n    JSON_VALUE(doc, '$.event_timestamp')       AS event_timestamp,\n    JSON_VALUE(doc, '$.partition_key')         AS partition_key,\n    GETDATE()                                  AS _ingested_at\nFROM OPENROWSET(\n    BULK 'streaming/real_time_transactions/real_time_transactions.json',\n    DATA_SOURCE = 'adls_interac_raw',\n    FORMAT = 'CSV',\n    FIELDQUOTE = '0x0b',\n    FIELDTERMINATOR = '0x0b',\n    ROWTERMINATOR = '0x0a'\n) WITH (doc NVARCHAR(MAX)) AS rows;\n\n-- Verify\nSELECT TOP 5 * FROM bronze_raw_transactions;\n\n-- Create Silver database\nCREATE DATABASE interac_silver;\n\nUSE interac_silver;\n\nCREATE MASTER KEY ENCRYPTION BY PASSWORD = 'Interac@Synapse#2024!Secure';\n\n-- Link to Bronze\nCREATE DATABASE SCOPED CREDENTIAL adls_mi_credential\nWITH IDENTITY = 'Managed Identity';\n\nCREATE EXTERNAL DATA SOURCE adls_interac_raw\nWITH (\n    LOCATION   = 'https://interacfabricstorage.dfs.core.windows.net/interac-raw',\n    CREDENTIAL = adls_mi_credential\n);\n\n-- Silver cleaned transactions view\nCREATE OR ALTER VIEW silver_transactions AS\nSELECT\n    transaction_id,\n    cardholder_id,\n    merchant_id,\n    amount_cad,\n    UPPER(TRIM(channel))           AS channel,\n    UPPER(TRIM(network))           AS network,\n    UPPER(TRIM(transaction_type))  AS transaction_type,\n    UPPER(TRIM(payment_method))    AS payment_method,\n    response_code,\n    CASE WHEN response_code = '00' THEN 'Y' ELSE 'N' END AS is_approved,\n    is_international,\n    is_flagged_suspicious,\n    processing_time_ms,\n    ip_country,\n    TRY_CAST(event_timestamp AS DATETIME2) AS transaction_datetime,\n    CAST(TRY_CAST(event_timestamp AS DATETIME2) AS DATE) AS transaction_date,\n    CASE \n        WHEN amount_cad < 25   THEN 'MICRO'\n        WHEN amount_cad < 100  THEN 'SMALL'\n        WHEN amount_cad < 500  THEN 'MEDIUM'\n        WHEN amount_cad < 2000 THEN 'LARGE'\n        ELSE 'VERY_LARGE'\n    END AS amount_band,\n    partition_key AS province,\n    _ingested_at,\n    GETDATE() AS _silver_loaded_at\nFROM interac_bronze.dbo.bronze_raw_transactions\nWHERE transaction_id IS NOT NULL\nAND   amount_cad > 0;\n\n-- Verify\nSELECT TOP 5 * FROM silver_transactions;\n\n-- Create Gold database\nCREATE DATABASE interac_gold;\n\nUSE interac_gold;\n\nCREATE MASTER KEY ENCRYPTION BY PASSWORD = 'Interac@Synapse#2024!Secure';\n\n-- ── Dimension: Date ───────────────────────────────────────\nCREATE OR ALTER VIEW dim_date AS\nSELECT DISTINCT\n    CAST(transaction_date AS DATE)                    AS date_key,\n    YEAR(transaction_date)                            AS year,\n    MONTH(transaction_date)                           AS month,\n    DAY(transaction_date)                             AS day,\n    DATENAME(WEEKDAY, transaction_date)               AS day_name,\n    DATENAME(MONTH, transaction_date)                 AS month_name,\n    DATEPART(QUARTER, transaction_date)               AS quarter,\n    CASE WHEN DATENAME(WEEKDAY, transaction_date) \n         IN ('Saturday','Sunday') THEN 1 ELSE 0 END  AS is_weekend\nFROM interac_silver.dbo.silver_transactions\nWHERE transaction_date IS NOT NULL;\n\n-- ── Dimension: Channel ────────────────────────────────────\nCREATE OR ALTER VIEW dim_channel AS\nSELECT DISTINCT\n    channel                                           AS channel_key,\n    channel                                           AS channel_name,\n    CASE channel\n        WHEN 'POS'         THEN 'In-Person'\n        WHEN 'ONLINE'      THEN 'Digital'\n        WHEN 'ATM'         THEN 'Self-Service'\n        WHEN 'MOBILE'      THEN 'Digital'\n        WHEN 'CONTACTLESS' THEN 'In-Person'\n        ELSE 'Other'\n    END                                               AS channel_category\nFROM interac_silver.dbo.silver_transactions;\n\n-- ── Fact: Transactions ────────────────────────────────────\nCREATE OR ALTER VIEW fact_transactions AS\nSELECT\n    transaction_id,\n    cardholder_id,\n    merchant_id,\n    CAST(transaction_date AS DATE)                    AS date_key,\n    channel                                           AS channel_key,\n    amount_cad,\n    amount_band,\n    transaction_type,\n    payment_method,\n    network,\n    response_code,\n    is_approved,\n    is_international,\n    is_flagged_suspicious,\n    processing_time_ms,\n    ip_country,\n    province,\n    transaction_datetime,\n    _silver_loaded_at\nFROM interac_silver.dbo.silver_transactions;\n\n-- ── Gold KPI: Fraud Summary ───────────────────────────────\nCREATE OR ALTER VIEW gold_fraud_summary AS\nSELECT\n    transaction_date                                  AS date,\n    channel,\n    ip_country,\n    COUNT(*)                                          AS total_transactions,\n    SUM(CAST(amount_cad AS FLOAT))                   AS total_volume_cad,\n    SUM(CASE WHEN is_flagged_suspicious = 'Y' \n             THEN 1 ELSE 0 END)                       AS fraud_count,\n    ROUND(SUM(CASE WHEN is_flagged_suspicious = 'Y' \n             THEN 1.0 ELSE 0 END) / COUNT(*) * 100, 2) AS fraud_rate_pct,\n    SUM(CASE WHEN is_approved = 'Y' \n             THEN 1 ELSE 0 END)                       AS approved_count,\n    AVG(CAST(processing_time_ms AS FLOAT))           AS avg_processing_ms\nFROM interac_silver.dbo.silver_transactions\nGROUP BY transaction_date, channel, ip_country;\n\n-- ── Gold KPI: Merchant Performance ───────────────────────\nCREATE OR ALTER VIEW gold_merchant_performance AS\nSELECT\n    merchant_id,\n    COUNT(*)                                          AS total_transactions,\n    SUM(CAST(amount_cad AS FLOAT))                   AS total_volume_cad,\n    AVG(CAST(amount_cad AS FLOAT))                   AS avg_transaction_cad,\n    SUM(CASE WHEN is_flagged_suspicious = 'Y' \n             THEN 1 ELSE 0 END)                       AS fraud_count,\n    ROUND(SUM(CASE WHEN is_flagged_suspicious = 'Y' \n             THEN 1.0 ELSE 0 END) / COUNT(*) * 100, 2) AS fraud_rate_pct,\n    SUM(CASE WHEN is_approved = 'Y' \n             THEN 1 ELSE 0 END)                       AS approved_count\nFROM interac_silver.dbo.silver_transactions\nGROUP BY merchant_id;\n\n-- ── Gold KPI: Hourly Volume ───────────────────────────────\nCREATE OR ALTER VIEW gold_hourly_volume AS\nSELECT\n    CAST(transaction_datetime AS DATE)               AS transaction_date,\n    DATEPART(HOUR, transaction_datetime)             AS transaction_hour,\n    channel,\n    COUNT(*)                                         AS total_transactions,\n    SUM(CAST(amount_cad AS FLOAT))                  AS total_volume_cad,\n    SUM(CASE WHEN is_flagged_suspicious = 'Y' \n             THEN 1 ELSE 0 END)                      AS fraud_count\nFROM interac_silver.dbo.silver_transactions\nWHERE transaction_datetime IS NOT NULL\nGROUP BY CAST(transaction_datetime AS DATE),\n         DATEPART(HOUR, transaction_datetime),\n         channel;\n\n-- ── Verify all views ──────────────────────────────────────\nSELECT TOP 5 * FROM dim_date;\nSELECT TOP 5 * FROM dim_channel;\nSELECT TOP 5 * FROM fact_transactions;\nSELECT TOP 5 * FROM gold_fraud_summary;\nSELECT TOP 5 * FROM gold_merchant_performance;\nSELECT TOP 5 * FROM gold_hourly_volume;",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "interac_gold",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 2')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "-- Create schema\nCREATE SCHEMA silver;\nCREATE SCHEMA gold;\nCREATE SCHEMA bronze;\nPRINT 'Schemas created';\n\n-- Physical Silver table with proper distribution\nCREATE TABLE silver.transactions\n(\n    transaction_id          NVARCHAR(100)   NOT NULL,\n    cardholder_id           NVARCHAR(100),\n    merchant_id             NVARCHAR(100),\n    amount_cad              DECIMAL(18,2),\n    channel                 NVARCHAR(50),\n    network                 NVARCHAR(50),\n    transaction_type        NVARCHAR(50),\n    payment_method          NVARCHAR(50),\n    response_code           NVARCHAR(10),\n    is_approved             NVARCHAR(1),\n    is_international        NVARCHAR(1),\n    is_flagged_suspicious   NVARCHAR(1),\n    processing_time_ms      BIGINT,\n    ip_country              NVARCHAR(10),\n    transaction_datetime    DATETIME2,\n    transaction_date        DATE,\n    amount_band             NVARCHAR(20),\n    province                NVARCHAR(10),\n    _ingested_at            DATETIME2,\n    _silver_loaded_at       DATETIME2\n)\nWITH\n(\n    DISTRIBUTION = HASH(transaction_id),\n    CLUSTERED COLUMNSTORE INDEX,\n    PARTITION (transaction_date RANGE RIGHT FOR VALUES \n        ('2026-01-01', '2026-02-01', '2026-03-01', \n         '2026-04-01', '2026-05-01', '2026-06-01'))\n);\n\nPRINT 'Silver transactions table created ✅';\n\n\n-- Gold Fact Table\nCREATE TABLE gold.fact_transactions\n(\n    transaction_id          NVARCHAR(100)   NOT NULL,\n    cardholder_id           NVARCHAR(100),\n    merchant_id             NVARCHAR(100),\n    date_key                DATE,\n    channel_key             NVARCHAR(50),\n    amount_cad              DECIMAL(18,2),\n    amount_band             NVARCHAR(20),\n    transaction_type        NVARCHAR(50),\n    payment_method          NVARCHAR(50),\n    network                 NVARCHAR(50),\n    response_code           NVARCHAR(10),\n    is_approved             NVARCHAR(1),\n    is_international        NVARCHAR(1),\n    is_flagged_suspicious   NVARCHAR(1),\n    processing_time_ms      BIGINT,\n    ip_country              NVARCHAR(10),\n    province                NVARCHAR(10),\n    transaction_datetime    DATETIME2,\n    _silver_loaded_at       DATETIME2\n)\nWITH\n(\n    DISTRIBUTION = HASH(transaction_id),\n    CLUSTERED COLUMNSTORE INDEX\n);\n\n-- Gold Dim Date\nCREATE TABLE gold.dim_date\n(\n    date_key        DATE            NOT NULL,\n    year            INT,\n    month           INT,\n    day             INT,\n    day_name        NVARCHAR(20),\n    month_name      NVARCHAR(20),\n    quarter         INT,\n    is_weekend      INT\n)\nWITH\n(\n    DISTRIBUTION = REPLICATE,\n    CLUSTERED COLUMNSTORE INDEX\n);\n\n-- Gold Dim Channel\nCREATE TABLE gold.dim_channel\n(\n    channel_key         NVARCHAR(50)    NOT NULL,\n    channel_name        NVARCHAR(50),\n    channel_category    NVARCHAR(50)\n)\nWITH\n(\n    DISTRIBUTION = REPLICATE,\n    CLUSTERED COLUMNSTORE INDEX\n);\n\n-- Gold Fraud Summary\nCREATE TABLE gold.fraud_summary\n(\n    date                DATE,\n    channel             NVARCHAR(50),\n    ip_country          NVARCHAR(10),\n    total_transactions  BIGINT,\n    total_volume_cad    FLOAT,\n    fraud_count         BIGINT,\n    fraud_rate_pct      FLOAT,\n    approved_count      BIGINT,\n    avg_processing_ms   FLOAT\n)\nWITH\n(\n    DISTRIBUTION = HASH(channel),\n    CLUSTERED COLUMNSTORE INDEX\n);\n\n-- Gold Merchant Performance\nCREATE TABLE gold.merchant_performance\n(\n    merchant_id             NVARCHAR(100),\n    total_transactions      BIGINT,\n    total_volume_cad        FLOAT,\n    avg_transaction_cad     FLOAT,\n    fraud_count             BIGINT,\n    fraud_rate_pct          FLOAT,\n    approved_count          BIGINT\n)\nWITH\n(\n    DISTRIBUTION = HASH(merchant_id),\n    CLUSTERED COLUMNSTORE INDEX\n);\n\nPRINT 'Gold tables created ✅';\n\nCREATE PROCEDURE silver.usp_load_transactions\nAS\nBEGIN\n    SET NOCOUNT ON;\n\n    TRUNCATE TABLE silver.transactions;\n\n    INSERT INTO silver.transactions\n    (\n        transaction_id, cardholder_id, merchant_id,\n        amount_cad, channel, network, transaction_type,\n        payment_method, response_code, is_approved,\n        is_international, is_flagged_suspicious,\n        processing_time_ms, ip_country, transaction_datetime,\n        transaction_date, amount_band, province,\n        _ingested_at, _silver_loaded_at\n    )\n    SELECT\n        transaction_id,\n        cardholder_id,\n        merchant_id,\n        amount_cad,\n        UPPER(TRIM(channel)),\n        UPPER(TRIM(network)),\n        UPPER(TRIM(transaction_type)),\n        UPPER(TRIM(payment_method)),\n        response_code,\n        CASE WHEN response_code = '00' THEN 'Y' ELSE 'N' END,\n        is_international,\n        is_flagged_suspicious,\n        processing_time_ms,\n        ip_country,\n        TRY_CAST(event_timestamp AS DATETIME2),\n        CAST(TRY_CAST(event_timestamp AS DATETIME2) AS DATE),\n        CASE\n            WHEN amount_cad < 25   THEN 'MICRO'\n            WHEN amount_cad < 100  THEN 'SMALL'\n            WHEN amount_cad < 500  THEN 'MEDIUM'\n            WHEN amount_cad < 2000 THEN 'LARGE'\n            ELSE 'VERY_LARGE'\n        END,\n        partition_key,\n        _ingested_at,\n        GETDATE()\n    FROM interac_bronze.dbo.bronze_raw_transactions\n    WHERE transaction_id IS NOT NULL\n    AND   amount_cad > 0;\n\n    PRINT 'Silver loaded ✅';\nEND\n\nCREATE PROCEDURE gold.usp_load_gold\nAS\nBEGIN\n    SET NOCOUNT ON;\n\n    -- ── Load fact_transactions ────────────────────────────\n    TRUNCATE TABLE gold.fact_transactions;\n    INSERT INTO gold.fact_transactions\n    SELECT\n        transaction_id, cardholder_id, merchant_id,\n        transaction_date, channel, amount_cad, amount_band,\n        transaction_type, payment_method, network,\n        response_code, is_approved, is_international,\n        is_flagged_suspicious, processing_time_ms,\n        ip_country, province, transaction_datetime,\n        _silver_loaded_at\n    FROM silver.transactions;\n\n    -- ── Load dim_date ─────────────────────────────────────\n    TRUNCATE TABLE gold.dim_date;\n    INSERT INTO gold.dim_date\n    SELECT DISTINCT\n        transaction_date,\n        YEAR(transaction_date),\n        MONTH(transaction_date),\n        DAY(transaction_date),\n        DATENAME(WEEKDAY, transaction_date),\n        DATENAME(MONTH, transaction_date),\n        DATEPART(QUARTER, transaction_date),\n        CASE WHEN DATENAME(WEEKDAY, transaction_date)\n             IN ('Saturday','Sunday') THEN 1 ELSE 0 END\n    FROM silver.transactions\n    WHERE transaction_date IS NOT NULL;\n\n    -- ── Load dim_channel ──────────────────────────────────\n    TRUNCATE TABLE gold.dim_channel;\n    INSERT INTO gold.dim_channel\n    SELECT DISTINCT\n        channel,\n        channel,\n        CASE channel\n            WHEN 'POS'         THEN 'In-Person'\n            WHEN 'ONLINE'      THEN 'Digital'\n            WHEN 'ATM'         THEN 'Self-Service'\n            WHEN 'MOBILE'      THEN 'Digital'\n            WHEN 'CONTACTLESS' THEN 'In-Person'\n            ELSE 'Other'\n        END\n    FROM silver.transactions;\n\n    -- ── Load fraud_summary ────────────────────────────────\n    TRUNCATE TABLE gold.fraud_summary;\n    INSERT INTO gold.fraud_summary\n    SELECT\n        transaction_date,\n        channel,\n        ip_country,\n        COUNT(*),\n        SUM(CAST(amount_cad AS FLOAT)),\n        SUM(CASE WHEN is_flagged_suspicious = 'Y' THEN 1 ELSE 0 END),\n        ROUND(SUM(CASE WHEN is_flagged_suspicious = 'Y'\n                  THEN 1.0 ELSE 0 END) / COUNT(*) * 100, 2),\n        SUM(CASE WHEN is_approved = 'Y' THEN 1 ELSE 0 END),\n        AVG(CAST(processing_time_ms AS FLOAT))\n    FROM silver.transactions\n    GROUP BY transaction_date, channel, ip_country;\n\n    -- ── Load merchant_performance ─────────────────────────\n    TRUNCATE TABLE gold.merchant_performance;\n    INSERT INTO gold.merchant_performance\n    SELECT\n        merchant_id,\n        COUNT(*),\n        SUM(CAST(amount_cad AS FLOAT)),\n        AVG(CAST(amount_cad AS FLOAT)),\n        SUM(CASE WHEN is_flagged_suspicious = 'Y' THEN 1 ELSE 0 END),\n        ROUND(SUM(CASE WHEN is_flagged_suspicious = 'Y'\n                  THEN 1.0 ELSE 0 END) / COUNT(*) * 100, 2),\n        SUM(CASE WHEN is_approved = 'Y' THEN 1 ELSE 0 END)\n    FROM silver.transactions\n    GROUP BY merchant_id;\n\n    PRINT 'Gold loaded ✅';\nEND\n\n\n-- Step 1: Load Silver\nEXEC silver.usp_load_transactions;\n\n-- Step 2: Load Gold\nEXEC gold.usp_load_gold;\n\n-- Create external data source pointing to Serverless pool\nCREATE MASTER KEY ENCRYPTION BY PASSWORD = 'Interac@Synapse#2024!Secure';\n\nCREATE DATABASE SCOPED CREDENTIAL synapse_credential\nWITH IDENTITY = 'Managed Identity';\n\nDROP EXTERNAL DATA SOURCE serverless_bronze;\n\nCREATE EXTERNAL DATA SOURCE serverless_bronze\nWITH (\n    LOCATION   = 'abfss://interac-raw@interacfabricstorage.dfs.core.windows.net',\n    CREDENTIAL = synapse_credential\n);\n\n-- Drop external table and file format\nDROP EXTERNAL TABLE bronze.raw_transactions;\nDROP EXTERNAL FILE FORMAT json_file_format;\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "interac_sql_pool",
						"poolName": "interac_sql_pool"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/interacspkpool')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": true,
					"maxNodeCount": 10,
					"minNodeCount": 3
				},
				"nodeCount": 10,
				"nodeSize": "Medium",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.5",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "canadacentral"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/interac_sql_pool')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"collation": "SQL_Latin1_General_CP1_CI_AS",
				"maxSizeBytes": 263882790666240,
				"annotations": []
			},
			"dependsOn": [],
			"location": "canadacentral"
		}
	]
}